
<div class="childInfo">
  <input ng-model="displayGender" disabled><input ng-model="displayAge" disabled><input ng-model="displayWeight" disabled><input ng-model="displayHeight" disabled>
</div>
<br>

<div class="btn-group">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  Gender
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" ng-Click="genderSelect('boy')">Boy</a>
    <a class="dropdown-item" ng-Click="genderSelect('girl')">Girl</a>
</div>

<div class="btn-group">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Age in Months
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" ng-Repeat="age in ageRange" ng-Click="ageSelect(age)"> {{age}} </a>
  </div>
</div>

<div class="btn-group">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Weight in lbs
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" ng-Repeat="weight in weightRange" ng-Click="weightSelect(weight)"> {{weight}} </a>
  </div>
</div>

<div class="btn-group">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Height in Inches
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" ng-Repeat="height in heightRange" ng-Click="heightSelect(height)"> {{height}} </a>
  </div>
</div>
<br>
<hr>
<br>
<button type="button" class="btn btn-primary">Get Baby Data</button>





